:root {
	background-color: #0d0f17 !important;
}

html, body {
	background-color: #0d0f17;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden; 
	
}

#console {
	font-family: courier, monospace;
	margin: 0%;
	background-color: #0d0f17;
	color: #fff;
	width:750px;
	margin-left:auto;
	margin-right:auto;
	margin-top:25px;
	font-size:14px;
}

a {
	color: #0bc;
	text-decoration: none;
}

#a {
	color: #8BB4D8;
}

#c {
	color: #0bc;
}

#b {
	color: #ff0096;
}

#k {
    	animation: change 1s;
}

#op{
    	color: #888888
}

@keyframes change {
    	0%  { color:  #0f0; }
    	50% { color:  #0f0; }
    	99% { color: black; }
}
